* {
    box-sizing: border-box;
}

/* Navigation styles start here */
.navbar {
    background-color: #00A693;
}

.navbar-light .navbar-toggler {
    border-color: aliceblue;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/hambergurmenu.png")
}

.navbar-brand span.footstep-brand {
    color: #FEBE10;
    font-family: 'Merriweather', serif;
}

.navbar-brand span.travels {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navbar>.container-fluid {
    gap: 10px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    /* color: #FFC72C; */
    background: rgb(211, 232, 65);
    background: -webkit-linear-gradient(#00a693, #d3e841, #ffc72c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Style for package dropdown in navbar */
.navbar-light .navbar-nav .nav-link:hover {
    color: #FFC72C;
}

.login-buttons {
    display: flex;
    gap: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* .login-buttons .login {
    border: none;
    color: #ffffff;
}

.login-buttons .login:hover {
    background-color: #FEBE10;
    color: #ffffff;
    font-weight: 500;
} */

.login-buttons button {
    background-color: #ffffff;
}

.login-buttons button:hover {
    background-color: #FEBE10;
    color: #ffffff;
    font-weight: 500;
}

/* new section which is below the navbar starts here */
.bg-image {
    background-image: url("../images/bg-image-0.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: black; */
    width: 100%;
    height: 85vh;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 91%, 70% 93%, 30% 95%, 0 91%, 0 0);
}

.center-heading {
    /* background-image: url("/images/bg-image-0.jpg");
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 5px;
    height: 55vh;
    text-align: center;
    left: 0;
    top: 0;
    transform: translateY(50%);
}

.main-heading {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
}

.main-heading span#footstepbrand {
    color: #FEBE10;
    font-family: 'Merriweather', serif;
}

.main-heading span#travel {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.secondary-heading {
    font-size: 40px;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}

div h2 .fav-country::after {
    content: '';
    font-family: 'Roboto Mono', monospace;
    color: #00A693;
    font-weight: 400;
    /* background: rgb(211, 232, 65);
    background: -webkit-linear-gradient(#00a693, #d3e841, #ffc72c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: countriesanime 2s infinite;
}

/* Book now button styles */
button#booknow {
    background: rgb(211, 232, 65);
    background: -webkit-linear-gradient(#00a693, #d3e841, #ffc72c);
    border-radius: 15px;
    width: 130px;
    border: none;
    padding: 5px 0px;
    margin-bottom: 10px;
    border: 1px solid #ffc72c;
}

button#booknow:hover {
    border: 1px solid #ffffff;
}

button#booknow:focus {
    border: 1px solid #FEBE10;
}

button#booknow a {
    text-decoration: none;
    color: black;
}

/* Animation for  Country or place names */
@keyframes countriesanime {
    0% {
        content: 'India';
        /* color: white; */
    }

    25% {
        content: 'London';
    }

    50% {
        content: 'America';
    }

    75% {
        content: 'Russia';
    }

    100% {
        content: 'Africa';
    }

}

/* Book Now form section */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-left: 0px;
    padding-right: 0px;
}

#book-now-section {
    /* background-color: #00A693; */
    /* height: 500px; */
    border-radius: 10px;
    margin-bottom: 20px;
    /* border: 1px solid #00a693; */
    display: grid;
    /* grid: 50% / auto; */
    grid-template-columns: auto;
}

.row #form-image {
    display: none;
    width: 100%;
    /* height: 500px; */
    background-color: #00a693;
    /* clip-path: circle(67% at 26% 48%); */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.row #form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#book-now-form {
    width: 50%;
    padding: 15px 0px;
    border: 1px solid #00a693;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#book-now-form h2 {
    font-size: 25px;
    color: #FEBE10;
    border: #00a693 solid 1px;
    border-radius: 0px 40px 40px 0px;
    padding: 13px 20px;
    background-color: #00A693;
    width: fit-content;
}

#form-tobook form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-tobook form label {
    display: none;
}

#form-tobook form #form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-tobook form .input-wrapper input,
select,
textarea {
    position: relative;
    height: 50px;
    width: 100%;
    /* outline: none; */
    border: 1px solid #00A693;
    padding: 0 10px;
    background-color: none;
    transition: .3s ease-in-out;
    border-bottom: 2px solid #FFC72C;
    border-radius: 20px;
}

/* #form-tobook form input::placeholder,
select option::placeholder,
textarea::placeholder {
    color: #00a693;
} */

/* #form-tobook form input:focus,
form select:focus,
form textarea:focus {
    border-color: #FFC72C;
} */

#form-tobook form textarea {
    resize: none;
    height: auto;
}

#form-tobook form input,
textarea {
    caret-color: #FFC72C;
}

#form-tobook form #form-button {
    background-color: #FEBE10;
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

#form-tobook form #start-end-dates {
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 10px; */
}

/* packages styles starts here */
#packages-section,
#service-section,
#gallery-section,
#about-us-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#packages-section #packages-head,
#Service-section #service-head,
#gallery-section #gallery-head,
#about-us-section #about-us-head {
    position: relative;
}

#packages-section #packages-head p,
#service-section #service-head p,
#gallery-section #gallery-head p,
#about-us-section #about-us-head p {
    border-bottom: 2px solid #FEBE10;
}

#packages-section #packages-head #packages-heading,
#service-section #service-head #service-heading,
#gallery-section #gallery-head #gallery-heading,
#about-us-section #about-us-head #about-us-heading {
    position: absolute;
    margin-top: -40px;
    align-items: center;
    background-color: #00a693;
    text-align: center;
    /* border: 1px solid #00a693; */
    border-radius: 20px;
    padding: 5px 40px;
    /* font-size: 10px; */
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: 'Merriweather', serif;
}

#packages-section #packages-head #packages-heading h2,
#service-section #service-head #service-heading h2,
#gallery-section #gallery-head #gallery-heading h2,
#about-us-section #about-us-head #about-us-heading h2 {
    font-size: 20px;
    padding-top: 3px;
}

.card {
    border: 1px solid #00a693;
    /* width: 100px; */
    left: 50%;
    transform: translateX(-50%);
}

.card-img,
.card-img-top {
    height: 200px;
}

.card .card-body {
    background-color: #8FBC8B;
}

.card-body .card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-body .card-text {
    font-family: sans-serif;
}

.card-body .packages-price span {
    color: #00a693;
}


/* Packages ratings */
#ratings .fa-star,
.fa-star-half-stroke {
    color: #FFC72C;
}

/* packages Buy Now button */
#packages-section button#package-button {
    background: rgb(211, 232, 65);
    background: -webkit-linear-gradient(#00a693, #d3e841, #ffc72c);
    border-radius: 15px;
    width: 130px;
    border: none;
    padding: 5px 0px;
    margin-bottom: 10px;
    border: 1px solid #ffc72c;
}

#packages-section button#package-button:hover {
    /* background: #ffffff; */
    /* color: #FEBE10; */
    border: 1px solid #ffffff;
}

#packages-section button#package-button:focus {
    border: 1px solid #FEBE10;
}

#packages-section button#package-button a {
    text-decoration: none;
    color: black;
}

/* Services content */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #d3e841; */
}

.wrapper h2 {
    text-align: center;
    margin: 30px 0;
}

.content-box {
    /* width: 500px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-card {
    min-height: 220px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 30px #8FBC8B;
    background-color: #d3e841;
    margin: 10px 5px;
    transition: 0.3s;
}

.content-card h3 {
    font-size: 20px;
}

.content-card img {
    margin-bottom: 10px;
}

.content-card p {
    text-align: center;
}

.content-card:hover {
    background: linear-gradient(90deg, #8FBC8B 0%, #D3E841 35%, #00a693 100%);
    color: white;
    opacity: 0.5;
    cursor: pointer;
}


/* Gallery starts here */
#gallery-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

#gallery-cards .galleryImages {
    position: relative;
}

#gallery-cards .galleryImages img {
    width: 100%;
    /* height: 100px; */
    object-fit: cover;
    transform: scale3d();
}

#gallery-cards .galleryImages:hover {
    /* margin-top: 50px; */
    transition: all 2s ease-in;
    transform: scale(1.1) rotate(-7deg);
}

#gallery-cards .galleryImages #gallery-desc {
    position: absolute;
    background: rgba(45, 48, 45, 0.7);
    z-index: 10px;
    bottom: 0%;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* about-us section starts here */
#about-us-rows {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-us-rows #about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#about-us-rows img {
    width: 100%;
    height: 350px;
    background-color: #00a693;
    object-fit: cover;
}

#about-description {
    margin: 20px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

#about-description p {
    font-family: 'Merriweather', serif;
}

/* Footer section */
.footer-section {
    width: 100%;
    background-color: #8FBC8B;
    /* height: 100px; */
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
}

.brand-social {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.social-links .fa-brands {
    color: #ffffff;
    margin-top: 35px;
}

.social-links .fa-brands:hover {
    color: #D3E841;
    cursor: pointer;
}

.copyrights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/* responsive styles starts here */
@media only screen and (max-width: 700px) {
    .row {
        --bs-gutter-x: 0rem;
    }

    #book-now-section {
        width: 320px;
    }

    #book-now-form {
        border-radius: 10px;
    }

    #form-tobook form {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #form-tobook form #start-end-dates {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content-card {
        width: 250px;
    }

    #about-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

@media only screen and (min-width: 700px) {
    .main-heading {
        font-size: 30px;
    }

    .row #form-image {
        display: block;
    }

    #form-tobook form #start-end-dates {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Gallery starts here */
    #gallery-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    #gallery-cards .galleryImages img {
        width: 240px;
        height: 250px;

    }

    #about-us-rows #about-us {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .footer-section {
        display: flex;
        flex-direction: row;
    }

    .copyrights {
        margin-top: 20px;
        font-size: 20px;
    }

}


@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link.active {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-decoration: underline;
    }

    .card-text {
        height: 120px;
    }
}

@media only screen and (min-width: 1024px) {

    /* Hovering style for packages dropwn in navbar */
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    #form-tobook form {
        padding: 15px 50px;
    }
}

@media only screen and (min-width: 1100px) {
    #form-tobook form {
        padding: 15px 80px;
    }
}








.modal-body {
    /* margin-left: 80px; */
    margin-left: 20px;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 10px;
    /* Adjust the margin for form elements */
}


/* Style for login link */
#loginLink {
    margin-top: 10px;
    text-align: center;
}

#loginLink a {
    color: skyblue;
    text-decoration: none;
}

#loginLink a:hover {
    text-decoration: underline;
}



.modal-content {
    width: 600px;
    height: 340px;
    margin-left: -80px;
}

#login-modal-content {
    width: 300px;
}

#loginLink {
    text-align: right;
}


/* Custom CSS for registration modal */
.registration-modal-content {
    width: 650px;
    height: 440px;
}

.input-wrapper,
select {
    height: 37px;
}

.registration-modal-content .modal-body {
    margin-top: 20px;
    /* Adjust the value as needed */
}

#reg-button,
#login-button {
    width: 100%;
    margin-top: 20px;
    background-color: #00a693;
    border-color: #00A693;
}